<!DOCTYPE html>
<html>

<head>
    <title>Demo Day</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1>Clips!</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <!-- this does not use remotions video player but embeds a video with the start and end point! would be good to use jic i cant get the player working -->
        <% if (clips.length > 0) { %> <!--condition to check that there is content within "clips" -->
          <% clips.forEach(clip => { %>
            <div id="clips">
              <h2><%= clip.why %> </h2>
              <h2><%= clip.start %>, <%= clip.end %> </h2>
              <video controls>
                <source src="<%= path %>#t=<%= clip.start %>,<%= clip.end %>" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </div>
          <% }) %>
        <% } %>

    </div>

    <script src="main.js"></script>

</body>

</html>