<!doctype html>
<html>

<!-- https://medium.com/@shresthshruti09/uploading-files-in-aws-s3-bucket-through-javascript-sdk-with-progress-bar-d2a4b3ee77b5 -->

<head>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        //Bucket Configurations
        var bucketName = '<%= keys.bucketName %>';

        const credentials = new AWS.Credentials({
            accessKeyId: '<%= keys.accessKeyId %>',
            secretAccessKey: '<%= keys.secretAccessKey %>'
        });

        AWS.config.update({
            region: '<%= keys.region %>',
            credentials: credentials
        });

        var s3 = new AWS.S3({
            params: { Bucket: bucketName }
        });
    </script>

    <title>Demo Day</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1>Upload!</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <p class="user">User: <%= user._id %> </p>
        <div class="row">
            <div class="col-xs-offset-3">
                <div id="uploadForm" class="form-group">
                    <input type="text" class="form-control" placeholder="Filename" name="title" required>
                    <br>
                    <input id="fileUpload" type="file" name="video" accept="video/*" required>
                    <br>
                    <input id="clipButton" onclick="s3upload()" type="submit" value="Get those clips!"
                        class="btn btn-default">
                    <br>
                    <label>Uploading: <progress id="uploadProgress" max='100' value='0'>0%</progress></label>
                    <br>
                    <label>Transcribing: <progress id="transcribeProgress" max='100' value='0'>0%</progress></label>
                    <br>
                    <label>Finding fun moments: <progress id="openAiProgress" max='100' value='0'>0%</progress></label>
                    <br>
                    <label>Getting those clips: <progress id="remotionProgress" max='100' value='0'>0%</progress></label>
                    <button class="hidden">Complete</button>
                </div>
            </div>

            <!-- in client-side s3upload function -->
            <script type="text/javascript">
                function s3upload() {
                    //stopwatch 
                    const stopwatch = new Stopwatch()
                    var files = document.getElementById('fileUpload').files;
                    if (files) {
                        var file = files[0];
                        var fileName = file.name;
                        var filePath = fileName;
                        var params = {
                            Key: filePath,
                            Body: file,
                        };
                        stopwatch.start()
                        s3.upload(params, function (err, data) {
                            if (err) {
                                console.error('Upload Error:', err);
                                console.og('Failed to upload file.');
                                return;
                            }
                            stopwatch.end()
                            console.log('Successfully Uploaded! File URL: ' + data.Location);

                            //saves the key to the backend to be used in fetching URLs for bucket objects
                            //untested

                            const user = document.querySelector('.user').innerText
                            let userID = user.split(' ')

                            fetch('/transcribeKey', {
                                method: 'POST',
                                headers: {'Content-Type': 'application/json',},
                                body: JSON.stringify({
                                    userId: userID[1],
                                    Key: filePath,
                                }),
                            })
                                // .then(response => response.json())
                                .then(data => {
                                    console.log('Key saved', data);
                                    window.location.href = '/process'
                                })
                                .catch(error => {
                                    console.error('Error sending Key', error);
                                });

                        //updates progress bar
                        }).on('httpUploadProgress', function (progress) {
                            var uploaded = parseInt((progress.loaded * 100) / progress.total);
                            document.getElementById("uploadProgress").value = uploaded;
                            document.getElementById("uploadProgress").label = uploaded + '%';
                            console.log('Upload Progress:', uploaded + '%');
                        });
                    } else {
                        alert('No file selected.');
                    }
                };

                function Stopwatch() {
                    let start, end, running, duration = 0;
                    Object.defineProperty(this, 'duration', {
                        get: function () { return duration }
                    });
                    this.reset = function () {
                        start = null;
                        end = null;
                        running = false;
                        duration = 0;
                    }
                    this.start = function () {
                        if (running) {
                            throw new Error('stopwatch started')
                        }
                        running = true;
                        start = new Date();
                        console.log('Stopwatch started')
                    }
                    this.end = function () {
                        if (!running)
                            throw new Error('stopwatch not started');
                        running = false;
                        end = new Date();
                        const seconds = (end.getTime() - start.getTime()) / 1000;
                        duration += seconds;
                        console.log('Stopwatch stopped')
                        console.log(duration)
                    }
                }
            </script>
</body>

</html>